<div class="auth-box">
  <label for="password" class="auth-label font-ml">{{labelText}}</label>
  <div class="input-fields">
    {{input 
      type=(if passwordVisible 'text' 'password')
      value=value
      placeholder=placeholder
      class="auth-input" 
      required=required
      disabled=disabled
    }}
    <img 
      src="/client/{{ if passwordVisible 'eye-open.png' 'eye-hidden.png'}}"  
      class="icon-small eye-icon auth-icon"
      {{action "toggleVisibility"}}
    />
  </div>
</div>

{{yield}}
