<div class="profile-items update-fields">
    <div class="update-container">
        <span class="update-head">Change Password</span>
        <p class="error-message">{{error}}</p>
            {{#unless isVerified}}
                <div class="auth-box">
                    {{input-field inputId="password" value=password placeholder="Password" error=passwordError inputType="password" labelClass="auth-label auth-text" labelText="Password:"}}
                            {{!-- <span class="{{if isVerified 'notvalid' 'isvalid'}} auth-status"></span> --}}
                    <button type="button" class="button-inner verify-btn" {{action "verifyPwd" }}>
                        <span class="content-center">Verify</span>
                    </button>
                </div>
            {{else }}
                <div class="auth-box">
                    <div class="flex-row">
                        {{input-field inputId="newPassord" value=newPassword placeholder="New Password" error=newPasswordError inputType="password" labelClass="auth-label auth-text" labelText="New Password:"}}
                            
                    </div>
                </div>
                <div class="auth-box">
                    <div class="flex-row">
                        {{input-field inputId="confirmPassword" value=confirmPassword placeholder="Confirm Password" error=confirmPasswordError inputType="password" labelClass="auth-label auth-text" labelText="Confirm Password:"}}
                    </div>
                </div>
                <div class="input-group-row">
                    <button type="button" class="button-inner" {{action "cancel"}}>
                        <span class="content-center">Cancel</span>
                    </button>
                    <button type="submit" class="button-inner" {{action "updateDetails"}} disabled={{isVerified}}>
                        <span class="content-center" >Update</span>
                    </button>
                </div>
            {{/unless}}
    </div>
</div>
{{outlet}}
